#container {
    padding: 12px;

    #control-panel {
        button {
            font-size: 11px;
            border-width: 1px;
            margin-left: 10px;
            width: 135px;
        }

        input {
            font-size: 11px;
            margin-left: 2px;
            width: 200px;
        }
    }

    #database-query-results {
    }

    #jobs-list {
        display: flex;
        flex-direction: column;

        .job-info-placeholder {
            padding: 5px;
            font-family: monospace;
            font-size: 12px;
        }
    }

    hr {
        color: #e0e0e0;
        background-color: #e0e0e0;
        height: 1px;
        border: none;
        margin: 2px;
    }
}
