<div id="container">

  <h4>Results</h4>

  <div id="list">

    <div id="table">
      <!-- Placeholder -->
      <div
        id="placeholder"
        *ngIf="!articles || articles.length === 0">
        Nothing found.
      </div>

      <!-- Table -->
      <table *ngIf="articles && articles.length > 0">
        <thead>
          <th>Source</th>
          <th>Date</th>
          <th>Title</th>
          <th>Link</th>
        </thead>

        <tbody>
          <tr
            *ngFor="let article of displayedRegisters"
            [ngClass]="{'selected': article.id === selectedArticleId}"
            (click)="onArticleSelect(article)">
            <td class="no-wrap">{{article.articleSource.name}}</td>
            <td class="no-wrap">{{article.lastUpdated | date}}</td>
            <td>{{article.title}}</td>
            <td
              class="no-wrap link"
              (click)="window.open('http://'+article.url, '_blank')">
              <span>
                Source
                <mat-icon>open_in_new</mat-icon>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="footer">
      <!-- Export to Excel -->
      <div id="export-to-excel-button">
        <button
          mat-icon-button
          (click)="onExportToExcelButtonClick()"
          [disabled]="!this.articles || this.articles.length === 0">
          <mat-icon matTooltip="Export to Excel">library_books</mat-icon>
        </button>
      </div>

      <div class="separator"></div>

      <!-- Paginator -->
      <mat-paginator
        [length]="articles.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageEvent($event)">
      </mat-paginator>
    </div>
  </div>
</div>
