<div class="container-fluid padding-25 sm-padding-10">
  <div class="row justify-content-md-center">
    <div class="col-lg-12 col-xlg-10">
      <app-article-global-stats></app-article-global-stats>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-xlg-5">
      <app-article-psr-source-stats></app-article-psr-source-stats>
    </div>

    <div class="col-lg-6 col-xlg-5">
      <app-article-sscd-source-stats></app-article-sscd-source-stats>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-lg-12 col-xlg-10">
      <app-article-psdd-source-stats></app-article-psdd-source-stats>
    </div>
  </div>
</div>
