<pgcard
  [ShowMessage]="isError"
  [Message]="errorMessage"
  [Close]="false"
  [Maximize]="false"
  [Refresh]="false"
  [Toggle]="false">
  <ng-template #CardTitle>Search launcher</ng-template>

  <div id="content">
    <div
      id="top-row"
      class="row">
      <!-- Scheme info -->
      <div
        id="scheme-info"
        *ngIf="searchScheme">
        <h3 id="name">{{searchScheme.name}}</h3>
        <p id="description">{{searchScheme.description}}</p>
      </div>

      <!-- Placeholder -->
      <div
        id="placeholder"
        *ngIf="!searchScheme">
        No scheme selected.
      </div>

      <!-- Date span panel -->
      <div id="date-span-panel">

        <mat-form-field class="datepicker">
          <input
            matInput
            placeholder="From date (incl.)"
            [matDatepicker]="startDatepickerRef"
            name="startDatepicker"
            [(ngModel)]="dateSpan.fromDateIncl"
            required
            readonly
            (dateChange)="onDateSpanChange()">

          <mat-datepicker-toggle
            [for]="startDatepickerRef"
            matSuffix></mat-datepicker-toggle>
          <mat-datepicker #startDatepickerRef></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="datepicker">
          <input
            matInput
            placeholder="To date (incl.)"
            [matDatepicker]="endDatepickerRef"
            name="endDatepicker"
            [(ngModel)]="dateSpan.toDateIncl"
            required
            readonly
            (dateChange)="onDateSpanChange()">

          <mat-datepicker-toggle
            [for]="endDatepickerRef"
            matSuffix></mat-datepicker-toggle>
          <mat-datepicker #endDatepickerRef></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Exclude duplicates -->
      <mat-checkbox
        id="exclude-duplicates-checkbox"
        color="primary"
        type="checkbox"
        [checked]="excludeDuplicates"
        (change)="onExcludeDuplicatesChange($event.checked)">
        Exclude duplicates
      </mat-checkbox>

      <!-- Results info panel -->
      <div id="results-info-panel">
        <div id="labels">
          <div id="time-elapsed">
            Time elapsed:
            <span *ngIf="!timeElapsedInfo"> — </span>
            <span *ngIf="timeElapsedInfo">{{timeElapsedInfo.timeElapsedLabel}}</span>
          </div>
          <div id="results-found">Results found: {{totalItemsCount}}</div>
        </div>
        <div id="spinner">
          <mat-spinner
            *ngIf="searchState === 'searching'"
            [diameter]="30"></mat-spinner>
        </div>
      </div>

      <!-- Submit panel -->
      <div id="submit-panel">

        <!-- Submit search -->
        <button
          *ngIf="searchState === 'idle'"
          mat-flat-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="!searchScheme">
          Submit
        </button>

        <!-- Cancel search -->
        <button
          *ngIf="searchState !== 'idle'"
          mat-stroked-button
          (click)="onCancel()"
          [disabled]="searchState === 'cancelling'">
          <span *ngIf="searchState === 'searching'">Cancel search</span>
          <span *ngIf="searchState === 'cancelling'">Cancelling...</span>
        </button>
      </div>
    </div>

    <div
      id="progress-bar"
      class="row">
      <mat-progress-bar [value]="searchProgress"></mat-progress-bar>
    </div>
  </div>
</pgcard>
