#container {
    display: flex;
    align-items: baseline;
    line-height: 42px;

    .validation-icon {
        align-self: center;
        max-width: 30px;
    }

    .article-part {
        width: 135px;
    }

    .match-condition {
        width: 165px;
    }

    .text-to-match {
        width: 350px;
    }

    .remove-button {
        align-self: center;
        padding: 0 8px;
        margin-left: 16px;
    }

    .row-element {
        padding: 0 3px;
    }

    .form-check {
        margin-bottom: 0;
    }
}
