#container {
    display: flex;
    align-items: baseline;
    line-height: 42px;

    pg-select {
        width: 200px;
    }

    #text-to-match {
        width: 400px;
    }

    #remove-button {
        align-self: center;
        padding: 0 8px;
        margin-left: 16px;
    }

    .row-element {
        padding: 0 3px;
    }

    .form-check {
        margin-bottom: 0;
    }
}
