WITH DATA AS (
	SELECT        
			source_name, 
			last_updated::date AS article_date,
			url
	FROM           
			scraped_articles
)
SELECT
		source_name,
		article_date,
		COUNT(url) AS articles_count
FROM DATA

GROUP BY 
		source_name, 
		article_date
ORDER BY
		source_name,
		article_date