<div
  id="container"
>
  <div
    id="header"
  >
    <div
      id="title"
    >
      {{title}}
    </div>

    <div
      id="sub-title"
    >
      {{subTitle}}
    </div>

    <mat-icon
      id="icon"
      [ngStyle]="icon.style"
    >
      {{icon.name}}
    </mat-icon>    
  </div>


  <div
    id="body"
  >
    <hr>

    <div
      id="message"
    >
      {{message}}
    </div>

    <button
      id="ok-button"
      class="dialog-button"
      mat-stroked-button
      color="primary"
      (click)="onOkButtonClick()"
    >
      Aceptar
    </button>
  </div>
</div>
