<!-- WRAP LAYOUT IF BOXED -->
<div
  class="container"
  *ngIf="_boxed; else basicLayoutBlock">
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</div>
<ng-template #basicLayoutBlock>
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</ng-template>

<!-- YOUR LAYOUT CONTENT GOES INSIDE HERE -->
<ng-template #contentTpl>

  <!-- PAGE SIDEBAR -->
  <pg-sidebar>

    <ng-template #sideBarHeader>
      <div id="sidebar-header">
        <img
          id="logo-white"
          src="assets/img/logo_white.png"
          alt="logo"
          class="brand"
          pgRetina
          src1x="assets/img/logo_white.png"
          src2x="assets/img/logo_white_2x.png"
          width="auto"
          height="30">

        <div class="sidebar-header-controls">
          <button
            type="button"
            class="btn btn-icon-link invert d-lg-inline-block d-xlg-inline-block d-md-inline-block d-sm-none d-none"
            data-toggle-pin="sidebar"
            (click)="toggleMenuPin()">
            <i class="pg-icon"></i>
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template #menuItems>
      <pg-menu-items [Items]="menuLinks"></pg-menu-items>
    </ng-template>
  </pg-sidebar>

  <!-- PAGE CONTAINER -->
  <page-container>
    <pg-header [boxed]="_boxed">

      <div
        class="brand inline"
        [class.d-none]="_layoutOption === 'email'">
        <img
          id="logo"
          src="assets/img/logo.png"
          alt="logo"
          pgRetina
          src1x="assets/img/logo.png"
          src2x="assets/img/logo_2x.png"
          width="auto"
          height="30">
      </div>

      <div class="d-flex align-items-center">

        <!-- START User Info -->
        <div
          class="dropdown pull-right d-lg-block d-none"
          dropdown>
          <button
            class="profile-dropdown-toggle"
            type="button"
            dropdownToggle
            id="profileDropdown"
            aria-label="profile dropdown">
            <span class="thumbnail-wrapper d32 circular inline">
              <img
                src="assets/img/profiles/avatar.jpg"
                alt
                pgRetina
                src1x="assets/img/profiles/avatar.jpg"
                src2x="assets/img/profiles/avatar_small2x.jpg"
                width="32"
                height="32">
            </span>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right profile-dropdown"
            *dropdownMenu
            role="menu">
            <a
              href="#"
              class="dropdown-item">
              <span>Signed in as <br><b>David Aunsberg</b></span>
            </a>
            <div class="dropdown-divider"></div>
            <a
              href="#"
              class="dropdown-item">
              Your Profile
            </a>
            <a
              href="#"
              class="dropdown-item">
              Your Activity
            </a>
            <a
              href="#"
              class="dropdown-item">
              Your Archive
            </a>
            <div class="dropdown-divider"></div>
            <a
              href="#"
              class="dropdown-item">
              Features
            </a>
            <a
              href="#"
              class="dropdown-item">
              Help
            </a>
            <a
              href="#"
              class="dropdown-item">
              Settings
            </a>
            <a
              href="#"
              class="dropdown-item">
              Logout
            </a>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item fs-12 hint-text">Last edited by David<br>on Friday at 5:27PM</span>
          </div>
        </div>
        <!-- END User Info -->
      </div>
    </pg-header>
    <div class="page-content-wrapper {{_pageContainerClass}}">
      <!-- START PAGE CONTENT -->
      <div class="content {{_contentClass}}">
        <router-outlet></router-outlet>
      </div>
      <!-- END PAGE CONTENT -->
      <!-- START COPYRIGHT -->
      <ng-template [ngIf]="_footer">
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright © 2020</span> <span class="font-montserrat">HORSE</span>. <span class="hint-text">All rights
                reserved.</span> <span class="sm-block"><a
                  class="m-l-10 m-r-10"
                  href="javascript:void(0)">
                  Terms of
                  use
                </a> <span class="muted">|</span> <a
                  class="m-l-10"
                  href="javascript:void(0)">
                  Privacy
                  Policy
                </a></span>
            </p>

            <p class="small no-margin pull-right sm-pull-reset">
              Hand-crafted <span class="hint-text">& made with Love</span>
            </p>

            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </ng-template>
    </div>
  </page-container>
</ng-template>
