.nowrap {
    flex-wrap: nowrap;
}

.button-panel {
    width: 175px;
    padding: 38px 5px 10px 15px;
    margin-left: 20px;
    margin-right: 20px;

    input {
        min-height: 30px;
        height: 30px;
        font-size: 12px;
    }

    button {
        width: 100%;
        margin-top: 10px;
        font-size: 12px;
    }

    .switch {
        margin-top: 10px;
        margin-bottom: 0;
        justify-content: center;
        width: 100%;
    }

    label {
        font-size: 12px;
    }

    .separator {
        width: 100%;
        border-top: 1px solid #ececec;
        margin: 17px 0px 7px;
    }
}

.table-item-label {
    display: inline-flex;
    align-items: center;
    line-height: 26px;
    height: 26px;
    font-size: 11px;

    .icon-placeholder {
        height: 26px;
        line-height: 26px;
        width: 20px;
    }

    mat-icon {
        font-size: 16px;
        height: 26px;
        line-height: 26px;
        width: 20px;
        color: #a6a6a6;
    }
}

:host ::ng-deep .datatable-body-cell {
    padding: 0 20px !important;
}

:host ::ng-deep .datatable-header-cell {
    padding: 5px 1.75em !important;
}

:host ::ng-deep .datatable-body {
    height: 285px !important;
}

:host ::ng-deep .datatable-footer {
    overflow: hidden !important;
}
