<div id="container">
  <div id="header">
    <div id="title">{{title}}</div>

    <div id="sub-title">{{subTitle}}</div>

    <mat-icon
      id="icon"
      [ngStyle]="icon.style">
      {{icon.name}}
    </mat-icon>
  </div>

  <div id="body">
    <hr>

    <div id="message">{{message}}</div>

    <div id="bottom-panel">
      <button
        id="cancel-button"
        class="dialog-button"
        mat-stroked-button
        (click)="onCancelButtonClick()">
        Cancel
      </button>

      <button
        id="accept-button"
        class="dialog-button"
        mat-stroked-button
        color="primary"
        (click)="onAcceptButtonClick()">
        OK
      </button>
    </div>
  </div>
</div>
