#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table-group {
    display: flex;
    min-width: 500px;
    width: 50%;
    flex-grow: 1;
}

.stats-table {
    width: 50%;
    padding: 0 30px;
}

.stats-table-2 {
    width: 100%;
    padding: 0 30px;
}

.table-item-label {
    display: inline-flex;
    align-items: center;
    line-height: 36px;
}

.label-icon {
    justify-content: center;
    width: 24px;

    .star {
        color: #f3c549;
        font-size: 17px;
    }

    .ok-indicator {
        color: #19ad79;

        .mat-icon {
            font-size: 13px;
            display: flex;
            align-items: center;
            height: 20px;
            line-height: 20px;
        }
    }

    .minor-alert {
        color: #f3c549;

        .mat-icon {
            font-size: 13px;
            display: flex;
            align-items: center;
            height: 20px;
            line-height: 20px;
        }
    }

    .major-alert {
        color: #d94136;

        .mat-icon {
            font-size: 13px;
            display: flex;
            align-items: center;
            height: 20px;
            line-height: 20px;
        }
    }
}

.negative-trend {
    color: #d94136;
}

.positive-trend {
    color: #19ad79;
}

:host ::ng-deep .datatable-body-cell,
:host ::ng-deep .datatable-header-cell-label {
    font-size: 11px !important;
}
